body {
    background-color: rgb(26, 143, 189);
    font: normal 20px Arial, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.436);
    margin: 0 auto;
    background-color: white;
    width: 600px;
}

.container {
    display: flex;
    justify-content: space-around;
}

#saida {
    padding: 0 20px;
    /* background-color: red; */
    width: 100%;
}

#saida p {
    margin: 7px 0;
}

option {
    font-size: 18px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}